@charset "UTF-8";
main {
  width: 1016px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main div#book_contents {
  width: 808px;
  border-right: 1px solid #e6e6e6;
}
main div#book_contents div.book_contents_info {
  width: 798px;
  margin-right: 10px;
  padding: 30px;
  border-bottom: 1px solid #787878;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
main div#book_contents div.book_contents_info div.info_img {
  width: 30%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div#book_contents div.book_contents_info div.info_img div.img {
  width: 100%;
  height: auto;
  border: 1px solid #e6e6e6;
  position: relative;
  cursor: zoom-in;
}
main div#book_contents div.book_contents_info div.info_img div.img img {
  width: 100%;
  height: auto;
}
main div#book_contents div.book_contents_info div.info_img div.img div.shadow1 {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(120, 120, 120, 0.5), rgba(120, 120, 120, 0));
}
main div#book_contents div.book_contents_info div.info_img div.img div.shadow2 {
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, rgba(120, 120, 120, 0.5), rgba(120, 120, 120, 0));
}
main div#book_contents div.book_contents_info div.info_img div.img div.set {
  position: absolute;
  left: -1%;
  bottom: 20%;
  width: 102%;
  height: auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  background-image: linear-gradient(to left, rgba(120, 120, 120, 0.5), rgba(120, 120, 120, 0) 5%, rgba(120, 120, 120, 0) 95%, rgba(120, 120, 120, 0.5));
}
main div#book_contents div.book_contents_info div.info_img div.img div.set p {
  padding: 7px 0;
  text-align: center;
  box-shadow: 1px 3px 3px rgba(120, 120, 120, 0.5);
}
main div#book_contents div.book_contents_info div.info_img div.img div.set p span {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main div#book_contents div.book_contents_info div.info_img div.img div.set p span::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 3px;
  background-color: #1E9EFF;
}
main div#book_contents div.book_contents_info div.info_img div.img div.set p span::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 3px;
  background-color: #1E9EFF;
}
main div#book_contents div.book_contents_info div.info_img div.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}
main div#book_contents div.book_contents_info div.info_img div.modal img {
  width: auto;
  height: 80vh;
  position: relative;
}
main div#book_contents div.book_contents_info div.info_img button {
  border: 1px solid #1E9EFF;
  border-radius: 6px;
  font-weight: 900;
  font-size: 14px;
  width: 130px;
  height: 39px;
  background: #fff;
  color: #1E9EFF;
  margin-top: 15px;
}
main div#book_contents div.book_contents_info div.info_img button:hover {
  background-color: #f7fafc;
  transition: all 0.3s;
}
main div#book_contents div.book_contents_info div.info_contents {
  width: 65%;
}
main div#book_contents div.book_contents_info div.info_contents a:hover {
  color: #1E9EFF;
  transition: all 0.3s;
}
main div#book_contents div.book_contents_info div.info_contents ol {
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
}
main div#book_contents div.book_contents_info div.info_contents ol li {
  font-size: 13px;
}
main div#book_contents div.book_contents_info div.info_contents ol li a {
  color: #000;
  padding-left: 5px;
}
main div#book_contents div.book_contents_info div.info_contents ol li:not(:last-child)::after {
  content: "❯";
  color: #000;
  padding-left: 5px;
}
main div#book_contents div.book_contents_info div.info_contents h1 {
  font-weight: 900;
  color: #000;
  font-size: 28px;
}
main div#book_contents div.book_contents_info div.info_contents ul.stars {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  margin-top: 15px;
}
main div#book_contents div.book_contents_info div.info_contents ul.stars li svg {
  margin-top: 10px;
  margin-right: -4px;
}
main div#book_contents div.book_contents_info div.info_contents ul.stars li svg path {
  color: #e6e6e6;
}
main div#book_contents div.book_contents_info div.info_contents div.authors {
  margin-bottom: 10px;
}
main div#book_contents div.book_contents_info div.info_contents div.authors p {
  font-size: 14px;
  padding: 10px 0;
  line-height: 22px;
}
main div#book_contents div.book_contents_info div.info_contents div.authors p a {
  font-weight: 900;
}
main div#book_contents div.book_contents_info div.info_contents div.authors p span {
  padding: 0 3px;
}
main div#book_contents div.book_contents_info div.info_contents div.authors p span:first-of-type::after {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #e6e6e6;
  margin-left: 6px;
}
main div#book_contents div.book_contents_info div.info_contents p.event {
  position: relative;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 14px;
}
main div#book_contents div.book_contents_info div.info_contents p.event a {
  font-weight: 900;
}
main div#book_contents div.book_contents_info div.info_contents p.event a::after {
  content: "❯";
  font-size: 12px;
  color: #e6e6e6;
  position: relative;
  padding-left: 40px;
}
main div#book_contents div.book_contents_info div.info_contents p.event::before {
  content: "이벤트";
  font-size: 12px;
  font-weight: 900;
  color: slateblue;
  background: lavender;
  border-radius: 2px;
  padding: 1px 3px;
  margin-right: 10px;
}
main div#book_contents div.book_contents_info div.info_contents table.price {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  font-size: 14px;
  border-spacing: 0;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr th {
  width: 30%;
  font-weight: 900;
  color: #000;
  background-color: #f7fafc;
  border-right: 1px solid #e6e6e6;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr td {
  width: 35%;
  padding: 6px 10px;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr td.right {
  font-weight: 900;
  text-align: end;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr td.right span {
  font-weight: 900;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr td.right span::after {
  content: "➝";
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 1px;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr td.cell {
  color: #1E9EFF;
}
main div#book_contents div.book_contents_info div.info_contents table.price tr td.cell span {
  color: #DC3232;
}
main div#book_contents div.book_contents_info div.info_contents div.buy {
  width: 100%;
  text-align: end;
}
main div#book_contents div.book_contents_info div.info_contents div.buy p {
  font-size: 12px;
  padding: 10px 0;
}
main div#book_contents div.book_contents_info div.info_contents div.buy p span {
  font-weight: 900;
  margin-left: 3px;
}
main div#book_contents div.book_contents_info div.info_contents div.buy p::before {
  content: "◾";
  margin-right: 3px;
}
main div#book_contents div.book_contents_info div.info_contents div.buy div.cart {
  padding: 10px 0;
  display: inline-flex;
  align-items: center;
}
main div#book_contents div.book_contents_info div.info_contents div.buy div.cart button {
  background: #fff;
  width: 48px;
  height: 48px;
  font-size: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  margin: 0 2.5px;
}
main div#book_contents div.book_contents_info div.info_contents div.buy div.cart button:hover {
  background: rgba(230, 230, 230, 0.5);
  transition: all 0.3s;
}
main div#book_contents div.book_contents_info div.info_contents div.buy div.cart button:last-of-type {
  background: #1E9EFF;
  width: 112px;
  height: 48px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  border: 1px solid #0077d9;
  border-radius: 6px;
}
main div#book_contents div.book_contents_info div.info_contents div.buy div.cart button:last-of-type:hover {
  background: #0077d9;
  transition: all 0.3s;
}
main div#book_contents div.book_contents_info table.info_ {
  width: 100%;
  font-size: 12px;
  text-align: left;
  border: 3px solid #e6e6e6;
  padding: 20px;
  margin-top: 40px;
}
main div#book_contents div.book_contents_info table.info_ tr {
  line-height: 20px;
}
main div#book_contents div.book_contents_info table.info_ tr th {
  font-weight: 900;
}
main div#book_contents div.book_contents_info table.info_ tr td span {
  margin-right: 6px;
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span::before {
  margin: 0 3px;
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span.headphone::before {
  content: "\f025";
  font: var(--fa-font-solid);
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span.paper::before {
  content: "▯";
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span.ios::before {
  content: "\f179";
  font: var(--fa-font-brands);
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span.android::before {
  content: "\f17b";
  font: var(--fa-font-brands);
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span.pc::before {
  content: "\f17a";
  font: var(--fa-font-brands);
}
main div#book_contents div.book_contents_info table.info_ tr td:not(.file) span.mac::before {
  content: "\f057";
  font: var(--fa-font-solid);
}
main div#book_contents div.book_contents_info table.info_ tr td.file span:not(:last-of-type)::after {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #e6e6e6;
  margin: 0 6px;
}
main div#book_contents div.book_contents_detail {
  width: 798px;
  margin-right: 10px;
  padding: 30px;
}
main div#book_contents div.book_contents_detail div.buy_info {
  width: 100%;
  padding: 25px 40px;
  background: #eee;
  border: 1px dotted #787878;
  font-size: 13px;
  line-height: 25px;
  color: #000;
  word-break: keep-all;
  word-wrap: break-word;
}
main div#book_contents div.book_contents_detail div.buy_info span {
  font-weight: 900;
  color: #000;
}
main div#book_contents div.book_contents_detail div.buy_info a {
  text-decoration: underline;
  color: #000;
}
main div#book_contents div.book_contents_detail h3 {
  font-weight: 900;
  border-bottom: 2px solid #787878;
  padding: 5px 0;
}
main div#book_contents div.book_contents_detail div.set {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.set ul {
  padding: 10px 0;
}
main div#book_contents div.book_contents_detail div.set ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main div#book_contents div.book_contents_detail div.set ul li .thumbnail {
  width: 7%;
  height: auto;
  cursor: zoom-in;
}
main div#book_contents div.book_contents_detail div.set ul li .title {
  width: 91%;
  font-size: 13px;
  padding: 20px 0;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main div#book_contents div.book_contents_detail div.set ul li .title::after {
  content: "❯";
  color: #e6e6e6;
}
main div#book_contents div.book_contents_detail div.set ul li .title:hover::after {
  color: #1E9EFF;
  transition: all 0.3s;
}
main div#book_contents div.book_contents_detail div.set button {
  width: 100%;
  height: 50px;
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  background: #fff;
  font-weight: 900;
}
main div#book_contents div.book_contents_detail div.set button span {
  font-weight: 900;
  color: #1E9EFF;
}
main div#book_contents div.book_contents_detail div.set button::after {
  content: "\f13a";
  font: var(--fa-font-solid);
  margin-left: 3px;
}
main div#book_contents div.book_contents_detail div.set button:hover {
  background: rgba(230, 230, 230, 0.5);
  transition: all 0.3s;
}
main div#book_contents div.book_contents_detail div.plus::after {
  content: "펼쳐보기 \f13a";
  font: var(--fa-font-solid);
  font-size: 13px;
  color: #0077d9;
  position: relative;
  bottom: 0;
  left: 670px;
  cursor: pointer;
}
main div#book_contents div.book_contents_detail div.data {
  width: 100%;
  height: 200px;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
main div#book_contents div.book_contents_detail div.data pre {
  color: #000;
}
main div#book_contents div.book_contents_detail div.data::after {
  content: "접기 \f139";
  font: var(--fa-font-solid);
  font-size: 13px;
  color: #0077d9;
  position: relative;
  bottom: 0;
  left: 670px;
  cursor: pointer;
}
main div#book_contents div.book_contents_detail div.book_intro {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.purblisher_review {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.profile {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.authors_intro {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.book_list {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.review {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.buy_together {
  width: 100%;
  margin: 60px 0;
}
main div#book_contents div.book_contents_detail div.read_together {
  width: 100%;
  margin: 60px 0;
}
main div#add {
  width: 207px;
}
main div#add div.add_img a {
  display: inline-block;
  width: 100%;
  height: 207px;
  background: url(../css/img/sub_add.jpg) center no-repeat;
  background-size: contain;
  border-bottom: 1px solid #e6e6e6;
}
main div#add div.add_list {
  width: 100%;
  padding: 20px 15px;
}
main div#add div.add_list h5 {
  font-weight: 900;
  color: #000;
  line-height: 30px;
}
main div#add div.add_list ul.add_list_title {
  font-size: 13px;
  line-height: 30px;
}
main div#add div.add_list ul.add_list_title li {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  position: relative;
  display: inline-flex;
  align-items: center;
}
main div#add div.add_list ul.add_list_title li span {
  color: #DC3232;
  font-weight: 900;
  display: inline-block;
  width: 20%;
}
main div#add div.add_list ul.add_list_title li a {
  display: inline-block;
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main div#add div.add_list ul.add_list_title li a:hover {
  color: #1E9EFF;
  transition: all 0.3s;
}
main div#add div.add_list button {
  width: 100%;
  outline: none;
  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 12px;
  line-height: 20px;
  position: relative;
}
main div#add div.add_list button span::after {
  content: "‣";
  font-size: 22px;
  position: absolute;
  top: -10%;
}
main div#add div.add_list button:hover {
  background: #e6e6e6;
  transition: all 0.3s;
}