@charset "UTF-8";

@mixin underline($color: $borderColor) {
    border-bottom: 1px solid $color;
}

@mixin overline($color: $borderColor) {
    border-top: 1px solid $color;
}

@mixin circleline($color: $borderColor) {
    border: 1px solid $color;
    border-radius: 50%;
}

@mixin squareline($color: $borderColor) {
    border: 1px solid $color;
    border-radius: 6px;
}

@mixin flexBetween($position: center) {
    display: flex;
    justify-content: space-between;
    align-items: $position;
}

@mixin flexInline($position: center) {
    display: inline-flex;
    align-items: $position;
}

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin fontB {
    font-weight: 900;
}
