@charset "UTF-8";

@import 'reset', 'color', 'mixin';

#top_menu_wrap {
    width: 100%;
    height: auto;
    @include underline;

    #top_menu {
        width: 1170px;
        height: 40px;
        margin: 0 auto;
        padding: 0 30px;
        @include flexBetween;

        ul {
            display: flex;

            li {
                a {
                    @include fontB;
                    font-size: 14px;
                }

                a.select {
                    svg {
                        font-size: 10px;
                    }
                }

                a.active {
                    color: $titleFontColor;
                }

                a:not(.active):hover {
                    opacity: 0.6;
                    transition: all 0.3s;
                }
            }

            li::after {
                content: "";
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 3px;
                background-color: $borderColor;
                margin: 0 10px;
            }

            li:last-child::after {
                display: none;
            }
        }
    }
}

header {
    width: 1170px;
    height: 75px;
    margin: 0 auto;
    padding: 0 30px;
    @include flexBetween;

    .header_logo {
        display: flex;
        height: 40px;
        padding: 10px 0;

        div {
            padding-right: 6px;
        }
    }

    nav {
        @include flexInline;
        height: 40px;
        position: relative;

        form#search {
            width: 260px;
            height: 40px;
            border-radius: 8px;
            background-color: #f0f0f0;
            padding: 10px;

            label {
                cursor: pointer;

                input {
                    margin-left: 6px;
                    outline: none;
                    border: none;
                    background-color: #f0f0f0;
                    caret-color: $lidiColor;
                }
            }

            div.search {
                position: absolute;
                width: 100%;
                height: 220px;
                top: 50px;
                left: 0;
                @include flexBetween;
                flex-direction: column;
                border: 1px solid $borderColor;
                border-radius: 6px;
                background: #fff;
                box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                z-index: 999;

                div.search_newly {
                    width: 100%;
                    padding: 15px;
                    display: flex;
                    justify-content: flex-start;

                    span {
                        font-size: 13px;
                        @include fontB;
                    }
                }
                
                div.search_event {
                    width: 100%;
                    text-align: center;

                    p {
                        font-size: 14px;
                        @include fontB;
                        opacity: 0.6;
                    }
                }

                div.search_on {
                    width: 95%;
                    padding: 15px;
                    @include overline;
                    margin: 0 auto;
                    display: flex;
                    justify-content: flex-end;

                    span {
                        font-size: 13px;
                        @include fontB;
                        cursor: pointer;
                    }
                }
            }
        }

        .user_menu {
            @include flexInline;

            li {
                a {
                    padding-left: 20px;
                    font-size: 30px;

                    svg {
                        path {
                            color: $titleFontColor;
                        }
                    }
                }
            }
        }
    }
}

.categories {
    width: 1170px;
    margin: 0 auto;
    padding: 0 30px;

    .cate1 {
        @include flexBetween;
        @include underline;
        height: 60px;
        
        .books {
            color: $lidiColor;
            font-size: 23px;
            @include fontB;
        }
        .allcate {
            @include flexInline;

            svg {
                font-size: 25px;
                margin-right: 6px;
                path {
                    color: $titleFontColor;
                }
            }

            span {
                color: $titleFontColor;
                font-size: 14px;
                @include fontB
            }
            
        }
    }

    .cate2 {
        @include flexInline;
        
        a {
            line-height: 60px;
            padding: 7px 10px;
            margin-right: 10px;
            @include fontB;
        }
        a.recommend {
            background-color: $lidiColor;
            border-radius: 30px;
            color: #fff;
        }
        a.event {
            color: $titleFontColor;
        }

        a.event:hover {
            opacity: 0.6;
            transition: all 0.3s;
        }
    }
}

#footer_wrap {
    @include overline;

    footer {
        width: 1170px;
        margin: 0 auto;
        padding: 40px 30px;
        @include flexBetween(flex-start);

        .info_wrap {
            width: 55%;

            ul {
                li {
                    font-size: 14px
                }
            }

            a.active {
                @include fontB;
            }

            a:hover {
                opacity: 0.6;
                transition: all 0.3s;
            }

            .footer_info {
                @include flexBetween(flex-start);

                .user_info {
                    width: 30%;

                    li {
                        margin-bottom: 20px;

                        a {
                            @include flexInline;

                            svg {
                                margin-right: 6px;
                            }
                        }
                    }
                }

                .footer_menu {
                    width: 70%;
                    @include flexBetween(flex-start);

                    h3 {
                        @include fontB;
                        font-size: 14px;
                        margin: 5px 0;
                    }

                    li {
                        font-size: 13px;
                        padding: 5px 0;
                    }

                    .company {
                        a {
                            @include flexInline;

                            svg {
                                font-size: 14px;
                                margin-left: 6px;

                                circle {
                                    color: $lidiColor;
                                }
                            }
                        }

                    }
                }
            }

            .ceo_info {
                padding-top: 50px;
                .btn {
                    cursor: pointer;
                    border: none;
                    outline: none;
                    background-color: #fff;
                    @include fontB;
                    font-size: 12px;

                    span {
                        svg {
                            font-size: 10px;
                            margin-left: 3px;
                            transform: rotate(90deg);
                        }
                        svg.click {
                            transform: rotate(-90deg);
                        }
                        
                    }
                }
                .ceo_info_hide {
                    font-size: 11px;
                    margin-top: 6px;
                    @include flexInline;
                    flex-wrap: wrap;

                    dt {
                        padding-right: 4px;
                    }

                    dd {
                        padding: 2px 0;
                    }

                    dd::after {
                        content: " ";
                        display: inline-block;
                        width: 1px;
                        height: 8px;
                        background-color: $borderColor;
                        margin: 0 6px;
                    }
                }

                ul {
                    @include flexInline;
                    li {
                    font-size: 11px;
                    }

                    li::after {
                        content: " ";
                        display: inline-block;
                        width: 1px;
                        height: 8px;
                        background-color: $borderColor;
                        margin: 0 6px;
                    }
                }

                .lidicorp {
                    font-size: 11px;
                    padding: 10px 0;
                    span {
                        padding-right: 3px; 
                    }
                }
            }
        }

        .sns {
            @include flexBetween();
            width: 14%;
            li {
                a {
                    @include circleline();
                    position: relative;
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    svg {
                        @include center();
                    }
                }
            }
        }

        .top_btn {
            position: fixed;
            bottom: 30px;
            right: 30px;
            left: auto;
            width: 60px;
            height: 60px;
            @include circleline();
            background-color: rgba(#fff, 0.9);
            cursor: pointer;
            
            svg {
                font-size: 30px;

                path {
                    color: $titleFontColor;
                }
            }
        }
    }
}

