@charset "UTF-8";

@import 'color', 'mixin';

main {
    width: 1170px;
    padding: 0 30px;
    margin: 0 auto;

    section#slide {
        width: 100%;
        height: 400px;
        position: relative;

        div.wrap {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;

            a {
                height: 100%;
                width: 0;
                overflow: hidden;

                div.slide_img_wrap {
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                    margin: 0 3px;
                    border-radius: 6px;
                    
                    .slide_img {
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        background-size: cover;
                        background-position: center;
                        width: 1018px;
                        height: 400px;

                        .slide_img_gradient {
                            width: 100%;
                            height: 200px;
                            position: absolute;
                            bottom: 0;
                        }
                    }

                    .slide_contents {
                        position: relative;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
                        flex-direction: column;
                        height: 100%;
                        width: 1018px;
                        padding: 40px;
                        opacity: 0;

                        .slide_contents_img {
                            @include flexInline;
                            border: 1px solid #fff;
                            border-radius: 2px;

                            img {
                                width: auto;
                                height: 20px;
                                border-right: 1px solid #fff;
                            }
                            img:last-of-type {
                                border-right: none;
                            }
                        }

                        .slide_contents_title {
                            font-size: 32px;
                            font-weight: 700;
                            letter-spacing: -0.01em;
                            color: #fff;
                            word-wrap: break-word;
                            word-break: keep-all;
                            white-space: pre-line;
                            margin: 8px 0 4px 0;
                            line-height: 40px;
                            max-height: calc(40px * 2);
                            max-width: calc(85% + 40px);
                            width: 100%; 
                        }

                        .slide_contents_option {
                            @include flexBetween;
                            width: 100%;

                            .slide_contents_option_event {
                                span {
                                    color: #fff;
                                    opacity: 0.8;
                                }

                                div {
                                    font-size: 8px;
                                    color: #fff;
                                    opacity: 0.4;
                                    letter-spacing: -0.01em;
                                    line-height: 11px;
                                    margin-top: 8px;
                                }
                                
                            }

                            .slide_contents_option_page {
                                position: relative;
                                background: rgba(0, 0, 0, 0.1);
                                flex: 0 0 auto;
                                border-radius: 100px;
                                padding: 3px 8px;
                                padding-top: 2px;
                                @include flexInline;

                                span {
                                    color: #fff;
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 17px;
                                }

                                i {
                                    width: 1px;
                                    height: 9px;
                                    margin: 0 3px;
                                    background: #fff;
                                    border-radius: 1px;
                                    transform: rotate(15deg);
                                    opacity: 0.4;
                                }

                                span.page_all {
                                    opacity: 0.4;
                                }
                            }
                        }
                    }
                }
            }
        }
        .slide_btn {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;

            button {
                width: 40px;
                height: 40px;
                @include circleline;
                position: absolute;
                background-color: #fff;
                top: 50%;
                box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                pointer-events: auto;

                svg {
                    font-size: 18px;
                    path {
                        color: $titleFontColor;
                    }
                }
            }

            button.prev {
                left: 0;
                right: auto;
                transform: translate(-50%, -50%);

                svg {
                    transform: scaleX(-1);
                }
            }

            button.next {
                left: auto;
                right: 0;
                transform: translate(50%, -50%);
            }


            button:hover {
                    path {
                        opacity: 0.3;
                        transition: all 0.1s;
                    }
            }
        }
    }

    section#quick_menu {
        width: 70%;
        height: 94px;
        position: relative;
        margin: 30px auto;

        ul {
            width: 100%;
            height: 100%;
            @include flexInline;
            justify-content: space-evenly;

            li {
                width: 70px;
                height: 100%;
                
                a {
                    width: 100%;
                    height: 100%;
                    @include flexBetween;
                    flex-direction: column;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    span {
                        font-size: 12px;
                        color: $titleFontColor;
                        @include fontB;
                    }
                }
            }
        }
    }

    section#today {
        width: 100%;
        position: relative;

        h3.title {
            color: $titleFontColor;
            @include fontB;
            padding: 20px 0;
            font-size: 22px;
        }

        div#today_books {
            width: 100%;
            overflow: hidden;

            ul {
                width: 1500px;
                
                li {
                    width: 179px;
                    margin-right: 2px;
                    display: inline-flex;
                    flex-direction: column;
        
                    a {
                        width: 100%;
                        height: 260px;
                        overflow: hidden;
                        border-radius: 6px;
                        border: 1px solid $borderColor;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h4 {
                        color: $titleFontColor;
                        @include fontB;
                        letter-spacing: -0.01em;
                        word-wrap: break-word;
                        word-break: keep-all;
                        white-space: pre-line;
                        padding: 10px 0;
                    }
                }
            }

            .book_slide_btn {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;

                button {
                    width: 40px;
                    height: 40px;
                    @include circleline;
                    position: absolute;
                    background-color: #fff;
                    top: 50%;
                    box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                    pointer-events: auto;

                    svg {
                        font-size: 18px;
                        path {
                            color: $titleFontColor;
                        }
                    }
                }

                button.prev {
                    left: 0;
                    right: auto;
                    transform: translate(-50%, -50%);

                    svg {
                        transform: scaleX(-1);
                    }
                }

                button.next {
                    left: auto;
                    right: 0;
                    transform: translate(50%, -50%);
                }

                button:hover {
                    path {
                        opacity: 0.3;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }

    section#now {
        width: 100%;
        margin: 30px 0;
        position: relative;

        h3.title {
            color: $titleFontColor;
            @include fontB;
            padding: 20px 0;
            font-size: 22px;
        }

        div#now_books {
            width: 100%;
            overflow: hidden;

            ul.book_slide {
                width: 200%;
                display: flex;
                justify-content: space-between;

                li {
                    width: 100%;
                    display: flex;

                    ol {
                        
                        li{
                            margin-bottom: 6px;
                            
                            a.thumbnail {
                                width: 80px;
                                min-width: 80px;
                                height: 116px;
                                border: 1px solid $borderColor;
                                overflow: hidden;
                                border-radius: 6px;

                                img {
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                }
                            }

                            h4.num {
                                color: $titleFontColor;
                                @include fontB;
                                line-height: 116px;
                                padding: 0 35px;
                            }

                            div {
                                width: 200px;
                                
                                h4.title {
                                    color: $titleFontColor;
                                    text-overflow: ellipsis;
                                    white-space:nowrap;
                                    overflow: hidden;
                                    line-height: 20px;
                                    max-height: 20px;
                                }

                                a {
                                    p.authors {
                                        font-size: 14px;
                                        padding: 4px 0;
                                    }
                                }

                                a:hover {
                                    opacity: 0.6;
                                    transition: all 0.3s;
                                }
                                
                                p.stars {
                                    font-size: 13px;
                                    @include flexInline;
                                    
                                    svg {
                                        width: 11px;
                                        height: 11px;
                                        path {
                                            color: $pointColor;
                                        }
                                    }
                                    span.reviews {
                                        color: $pointColor;
                                        margin: 0 3px;
                                    }
                                    
                                }
                            }
                        }
                        
                    }
                }
            }
            
            .book_slide_btn {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;

                button {
                    width: 40px;
                    height: 40px;
                    @include circleline;
                    position: absolute;
                    background-color: #fff;
                    top: 50%;
                    box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                    pointer-events: auto;

                    svg {
                        font-size: 18px;
                        path {
                            color: $titleFontColor;
                        }
                    }
                }

                button.prev {
                    left: 0;
                    right: auto;
                    transform: translate(-50%, -50%);

                    svg {
                        transform: scaleX(-1);
                    }
                }

                button.next {
                    left: auto;
                    right: 0;
                    transform: translate(50%, -50%);
                }

                button:hover {
                    path {
                        opacity: 0.3;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }

    section#new {
        width: 100%;
        position: relative;
        margin: 30px 0;

        h3.title {
            color: $titleFontColor;
            @include fontB;
            padding: 20px 0;
            @include flexBetween;
            font-size: 22px;

            span {
                font-size: 16px;
                a {
                @include fontB;
                opacity: 0.6;
                }
            }
        }

        div#new_books {
            width: 100%;
            overflow: hidden;

            ul {
                width: 1500px;
                
                li {
                    width: 179px;
                    margin-right: 2px;
                    display: inline-flex;
                    flex-direction: column;
        
                    a.thumbnail {
                        width: 100%;
                        height: 260px;
                        overflow: hidden;
                        border-radius: 6px;
                        border: 1px solid $borderColor;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h4.title {
                        color: $titleFontColor;
                        @include fontB;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 10px 0;
                    }

                    a.authors {
                        p {
                            font-size: 14px;
                            padding: 4px 0;
                        }
                    }

                    a.authors:hover {
                        opacity: 0.6;
                        transition: all 0.3s;
                    }
                    
                    p.stars {
                        font-size: 13px;
                        @include flexInline;
                        
                        svg {
                            width: 11px;
                            height: 11px;
                            path {
                                color: $pointColor;
                            }
                        }
                        span.reviews {
                            color: $pointColor;
                            margin: 0 3px;
                        }
                        
                    }
                }
            }

            .book_slide_btn {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;

                button {
                    width: 40px;
                    height: 40px;
                    @include circleline;
                    position: absolute;
                    background-color: #fff;
                    top: 50%;
                    box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                    pointer-events: auto;

                    svg {
                        font-size: 18px;
                        path {
                            color: $titleFontColor;
                        }
                    }
                }

                button.prev {
                    left: 0;
                    right: auto;
                    transform: translate(-50%, -50%);

                    svg {
                        transform: scaleX(-1);
                    }
                }

                button.next {
                    left: auto;
                    right: 0;
                    transform: translate(50%, -50%);
                }

                button:hover {
                    path {
                        opacity: 0.3;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }

    section#best {
        width: 100%;
        margin: 30px 0;
        position: relative;

        h3.title {
            color: $titleFontColor;
            @include fontB;
            padding: 20px 0;
            @include flexBetween;
            font-size: 22px;

            span {
                font-size: 16px;
                a {
                @include fontB;
                opacity: 0.6;
                }
            }
        }

        div#best_books {
            width: 100%;
            overflow: hidden;

            ul.book_slide {
                width: 200%;
                display: flex;
                justify-content: space-between;

                li {
                    width: 100%;
                    display: flex;

                    ol {
                        
                        li{
                            margin-bottom: 6px;
                            
                            a.thumbnail {
                                width: 80px;
                                min-width: 80px;
                                height: 116px;
                                border: 1px solid $borderColor;
                                overflow: hidden;
                                border-radius: 6px;

                                img {
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                }
                            }

                            h4.num {
                                color: $titleFontColor;
                                @include fontB;
                                line-height: 116px;
                                padding: 0 35px;
                            }

                            div {
                                width: 200px;
                                
                                h4.title {
                                    color: $titleFontColor;
                                    text-overflow: ellipsis;
                                    white-space:nowrap;
                                    overflow: hidden;
                                    line-height: 20px;
                                    max-height: 20px;
                                }

                                a {
                                    p.authors {
                                        font-size: 14px;
                                        padding: 4px 0;
                                    }
                                }

                                a:hover {
                                    opacity: 0.6;
                                    transition: all 0.3s;
                                }
                                
                                p.stars {
                                    font-size: 13px;
                                    @include flexInline;
                                    
                                    svg {
                                        width: 11px;
                                        height: 11px;
                                        path {
                                            color: $pointColor;
                                        }
                                    }
                                    span.reviews {
                                        color: $pointColor;
                                        margin: 0 3px;
                                    }
                                    
                                }
                            }
                        }
                        
                    }
                }
            }
            
            .book_slide_btn {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;

                button {
                    width: 40px;
                    height: 40px;
                    @include circleline;
                    position: absolute;
                    background-color: #fff;
                    top: 50%;
                    box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                    pointer-events: auto;

                    svg {
                        font-size: 18px;
                        path {
                            color: $titleFontColor;
                        }
                    }
                }

                button.prev {
                    left: 0;
                    right: auto;
                    transform: translate(-50%, -50%);

                    svg {
                        transform: scaleX(-1);
                    }
                }

                button.next {
                    left: auto;
                    right: 0;
                    transform: translate(50%, -50%);
                }

                button:hover {
                    path {
                        opacity: 0.3;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }

    section#selection {
        width: 100%;
        margin: 30px 0;
        position: relative;

        h3.title {
            color: $titleFontColor;
            @include fontB;
            padding: 20px 0;
            font-size: 22px;
        }

        ul.wrap {
            width: 100%;
           @include flexBetween;
            
            li{
                
                a.img {
                    position: relative;
                    display: block;
                    width: 217px;
                    height: 434px;
                    border-radius: 6px;
                    background-size: cover;
                    overflow: hidden;

                    div.img_gradient {
                        width: 100%;
                        height: 45%;
                        position: absolute;
                        bottom: 0;
                    }

                    div.contents {
                        width: 180px;
                        height: 33%;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }

        }
    }

    section#health {
        width: 100%;
        position: relative;
        margin: 30px 0 50px 0;

        h3.title {
            color: $titleFontColor;
            @include fontB;
            padding: 20px 0;
            @include flexBetween;
            font-size: 22px;

            span {
                font-size: 16px;
                a {
                @include fontB;
                opacity: 0.6;
                }
            }
        }

        div#health_books {
            width: 100%;
            overflow: hidden;

            ul {
                width: 1500px;
                
                li {
                    width: 179px;
                    margin-right: 2px;
                    display: inline-flex;
                    flex-direction: column;
        
                    a.thumbnail {
                        width: 100%;
                        height: 260px;
                        overflow: hidden;
                        border-radius: 6px;
                        border: 1px solid $borderColor;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h4.title {
                        color: $titleFontColor;
                        @include fontB;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 10px 0;
                    }

                    a.authors {
                        p {
                            font-size: 14px;
                            padding: 4px 0;
                        }
                    }

                    a.authors:hover {
                        opacity: 0.6;
                        transition: all 0.3s;
                    }
                    
                    p.stars {
                        font-size: 13px;
                        @include flexInline;
                        
                        svg {
                            width: 11px;
                            height: 11px;
                            path {
                                color: $pointColor;
                            }
                        }
                        span.reviews {
                            color: $pointColor;
                            margin: 0 3px;
                        }
                        
                    }
                }
            }

            .book_slide_btn {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            pointer-events: none;

                button {
                    width: 40px;
                    height: 40px;
                    @include circleline;
                    position: absolute;
                    background-color: #fff;
                    top: 50%;
                    box-shadow: 3px 3px 3px rgba($color: #787878, $alpha: 0.2);
                    pointer-events: auto;

                    svg {
                        font-size: 18px;
                        path {
                            color: $titleFontColor;
                        }
                    }
                }

                button.prev {
                    left: 0;
                    right: auto;
                    transform: translate(-50%, -50%);

                    svg {
                        transform: scaleX(-1);
                    }
                }

                button.next {
                    left: auto;
                    right: 0;
                    transform: translate(50%, -50%);
                }

                button:hover {
                    path {
                        opacity: 0.3;
                        transition: all 0.1s;
                    }
                }
            }
        }
    }
}

