@charset "UTF-8";

@import 'color', 'mixin';

main {
    width: 1016px;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    div#book_contents{
        width: 808px;
        border-right: 1px solid $borderColor;

        div.book_contents_info {
            width: 798px;
            margin-right: 10px;
            padding: 30px;
            @include underline($fontColor);
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            div.info_img {
                width: 30%;
                margin-right: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;

                div.img {
                    width: 100%;
                    height: auto;
                    border: 1px solid $borderColor;
                    position: relative;
                    cursor: zoom-in;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    div.shadow {
                        
                        &1 {
                            width: 5%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-image: linear-gradient(to right, rgba($fontColor, 0.5), rgba($fontColor, 0));
                        }
                        &2 {
                            width: 5%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0));
                        }
                    }

                    div.set {
                        position: absolute;
                        left: -1%;
                        bottom: 20%;
                        width: 102%;
                        height: auto;
                        background-color: #fff;
                        border: 1px solid $borderColor;
                        background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0) 5%, rgba($fontColor, 0) 95%, rgba($fontColor, 0.5));

                        p {
                            padding: 7px 0;
                            text-align: center;
                            box-shadow: 1px 3px 3px rgba($color: #787878, $alpha: 0.5);

                            span {
                                color: $titleFontColor;
                                @include flexBetween;
                            }
                            
                            span::before {
                                content: "";
                                display: inline-block;
                                width: 30%;
                                height: 3px;
                                background-color: $lidiColor;
                            }

                            span::after {
                                content: "";
                                display: inline-block;
                                width: 30%;
                                height: 3px;
                                background-color: $lidiColor;
                            }
                        }
                    }
                }

                div.modal {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background: rgba(#000, 0.8);
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: zoom-out;

                    img {
                        width: auto;
                        height: 80vh;
                        position: relative;
                    }
                }

                button {
                    @include squareline($lidiColor);
                    @include fontB;
                    font-size: 14px;
                    width: 130px;
                    height: 39px;
                    background: #fff;
                    color: $lidiColor;
                    margin-top: 15px;
                }

                button:hover {
                    background-color: #f7fafc;
                    transition: all 0.3s;
                }
            }

            div.info_contents {
                width: 65%;

                a:hover {
                    color: $lidiColor;
                    transition: all 0.3s;
                }

                ol {
                    @include flexInline;
                    padding: 10px 0;

                    li {
                        font-size: 13px;
                        
                        a {
                            color: $titleFontColor;
                            padding-left: 5px;
                        }
                    }

                    li:not(:last-child)::after{
                        content: "\f054";
                        font: var(--fa-font-solid);
                        color: $titleFontColor;
                        padding-left: 5px;
                    }
                }

                h1 {
                    @include fontB;
                    color: $titleFontColor;
                    font-size: 28px;
                }

                ul.stars {
                    @include flexInline;
                    font-size: 13px;
                    margin-top: 15px;

                    li {

                        svg {
                            margin-top: 10px;
                            margin-right: -4px;
                            path {
                                color: $borderColor;
                            }
                        }
                    }
                    
                }

                div.authors {
                    margin-bottom: 10px;
                    p {
                        font-size: 14px;
                        padding: 10px 0;
                        line-height: 22px;

                        a {
                            @include fontB;
                        }

                        span {
                            padding: 0 3px;
                        }

                        span:first-of-type::after {
                            content: " ";
                            display: inline-block;
                            width: 1px;
                            height: 10px;
                            background-color: $borderColor;
                            margin-left: 6px;
                        }
                    }
                }

                p.event {
                    position: relative;
                    @include overline;
                    @include underline;
                    padding: 10px 0;
                    margin: 10px 0;
                    font-size: 14px;

                    a {
                        @include fontB;
                    }

                    a::after{
                        content: "\f054";
                        font: var(--fa-font-solid);
                        font-size: 12px;
                        color: $borderColor;
                        position: relative;
                        padding-left: 40px;
                    }
                }

                p.event::before {
                    content: "이벤트";
                    font-size: 12px;
                    @include fontB;
                    color: slateblue;
                    background: lavender;
                    border-radius: 2px;
                    padding: 1px 3px;
                    margin-right: 10px;
                }

                table.price {
                    @include overline;
                    @include underline;
                    width: 100%;
                    font-size: 14px;
                    border-spacing: 0;

                    tr {
                        th {
                            width: 30%;
                            @include fontB;
                            color: $titleFontColor;
                            background-color: #f7fafc;
                            border-right: 1px solid $borderColor;
                        }

                        td {
                            width: 35%;
                            padding: 6px 10px;
                        }

                        td.right {
                            @include fontB;
                            text-align: end;

                            span {
                                @include fontB;
                            }

                            span::after {
                                content: "\279D";
                                display: inline-block;
                                transform: rotate(90deg);
                                margin-left: 1px;
                            }
                        }

                        td.cell {
                            span {
                                color: $pointColor;
                            }
                            color: $lidiColor;
                        }
                    }
                }

                div.buy {
                    width: 100%;
                    text-align: end;
    
                    p {
                        font-size: 12px;
                        padding: 10px 0;
    
                        span {
                            @include fontB;
                            margin-left: 3px;
                        }
                    }
    
                    p::before {
                        content: "\25FE";
                        margin-right: 3px;
                    }
    
                    div.cart {
                        padding: 10px 0;
                        @include flexInline;
    
                        button {
                            background: #fff;
                            width: 48px;
                            height: 48px;
                            font-size: 20px;
                            @include squareline;
                            margin: 0 2.5px;
                        }
                        button:hover {
                            background: rgba($color: $borderColor, $alpha: 0.5);
                            transition: all 0.3s;
                        }
    
                        button:last-of-type {
                            background: $lidiColor;
                            width: 112px;
                            height: 48px;
                            font-size: 15px;
                            @include fontB;
                            color: #fff;
                            @include squareline(#0077d9);
                        }
                        button:last-of-type:hover {
                            background: #0077d9;
                            transition: all 0.3s;
                        }
                    }
                }
            }

            table.info_ {
                width: 100%;
                font-size: 12px;
                text-align: left;
                border: 3px solid $borderColor;
                padding: 20px;
                margin-top: 40px;

                tr {
                    line-height: 20px;

                    th {
                        @include fontB;   
                    }

                    td {
                        span {
                            margin-right: 6px;
                        }
                    }

                    td:not(.file) {
                        span::before {
                            margin: 0 3px;
                        }
                        span.headphone::before {
                            content: "\f025";
                            font: var(--fa-font-solid);
                        }
                        span.paper::before {
                            content: "\25AF";
                        }
                        span.ios::before {
                            content: "\f179";
                            font: var(--fa-font-brands);
                        }
                        span.android::before {
                            content: "\f17b";
                            font: var(--fa-font-brands);
                        }
                        span.pc::before {
                            content: "\f17a";
                            font: var(--fa-font-brands);
                        }
                        span.mac::before {
                            content: "\f057";
                            font: var(--fa-font-solid);
                        }
                    }
                    
                    td.file {
                            
                        span:not(:last-of-type)::after {
                            content: " ";
                            display: inline-block;
                            width: 1px;
                            height: 10px;
                            background-color: $borderColor;
                            margin: 0 6px;
                        }
                    }
                }
            }
        }
        
        div.book_contents_detail {
            width: 798px;
            margin-right: 10px;
            padding: 30px;

            div.buy_info {
                width: 100%;
                padding: 25px 40px;
                background: #eee;
                border: 1px dotted $fontColor;
                font-size: 13px;
                line-height: 25px;
                color: $titleFontColor;
                word-break: keep-all;
                word-wrap: break-word;
                
                span {
                    @include fontB;
                    color: $titleFontColor;
                }

                a {
                    text-decoration: underline;
                    color: $titleFontColor;
                }
            }
            
            h3 {
                @include fontB;
                border-bottom: 2px solid $fontColor;
                padding: 5px 0;
            }

            div.set {
                width: 100%;
                margin: 60px 0;

                ul {
                    padding: 10px 0;

                    li {
                        @include underline;
                        padding: 7px 10px;
                        @include flexBetween;

                        .thumbnail {
                            width: 7%;
                            height: auto;
                            cursor: zoom-in;
                        }

                        .title {
                            width: 91%;
                            font-size: 13px;
                            padding: 20px 0;
                            @include fontB;
                            @include flexBetween;
                        }

                        .title::after {
                            content: "\f054";
                            font: var(--fa-font-solid);
                            color: $borderColor;
                        }
                        .title:hover::after {
                            color: $lidiColor;
                            transition: all 0.3s;
                        }
                    }
                }

                button {
                    width: 100%;
                    height: 50px;
                    border: 2px solid $borderColor;
                    border-radius: 3px;
                    background: #fff;
                    @include fontB;

                    span {
                        @include fontB;
                        color: $lidiColor;
                    }
                }
                
                button::after {
                    content: "\f13a";
                    font: var(--fa-font-solid);
                    margin-left: 3px;
                }

                button:hover {
                    background: rgba($color: $borderColor, $alpha: 0.5);
                    transition: all 0.3s;
                }
            }
            
            button.data_btn::after {
                content: "펼쳐보기 \f13a";
                font: var(--fa-font-solid);
                font-size: 13px;
                color: #0077d9;
            }

            button.data_btn {
                position: relative;
                left: 670px;
                background: none;
                border: none;
                outline: none;
            }
                        
            button.plus::after {
                content: "접기 \f139";
                font: var(--fa-font-solid);
                font-size: 13px;
                color: #0077d9;
                position: relative;
                left: 20px;
            }
            
            div.data {
                width: 100%;
                height: 200px;
                font-size: 13px;
                line-height: 20px;
                cursor: pointer;
                overflow: hidden;
                position: relative;

                pre {
                    color: $titleFontColor;
                }
                
            }

            div.book_intro,
            div.purblisher_review,
            div.authors_intro,
            div.book_list {
                width: 100%;
                margin: 60px 0;
            }

            div.profile {
                width: 100%;
                margin: 60px 0;

                section.book {
                    width: 100%;
                    padding: 20px;
                    position: relative;

                    h5 {
                        color: $titleFontColor;
                        @include fontB;
                        font-size: 16px;
                        @include flexBetween;

                        p {
                            border: none;
                            font-size: 11px;
                            padding: 0;

                            a.active {
                                border: none;
                            }
                        }
                    }

                    ul {
                        width: 100%;
                        padding: 15px 0;
                        display: flex;
                        justify-content: space-around;
                        align-items: flex-start;

                        li {
                            width: 13%;

                            div.img {
                                width: 100%;
                                height: auto;
                                border: 1px solid $borderColor;
                                position: relative;
                                cursor: pointer;
            
                                img {
                                    width: 100%;
                                    height: auto;
                                }
            
                                div.shadow {
                                    
                                    &1 {
                                        width: 5%;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        background-image: linear-gradient(to right, rgba($fontColor, 0.5), rgba($fontColor, 0));
                                    }
                                    &2 {
                                        width: 5%;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0));
                                    }
                                }
            
                                div.set {
                                    position: absolute;
                                    left: -1%;
                                    bottom: 20%;
                                    width: 102%;
                                    height: auto;
                                    margin: 0;
                                    background-color: #fff;
                                    border: 1px solid $borderColor;
                                    background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0) 5%, rgba($fontColor, 0) 95%, rgba($fontColor, 0.5));
            
                                    p {
                                        padding: 5px 0;
                                        text-align: center;
                                        box-shadow: 1px 3px 3px rgba($color: #787878, $alpha: 0.5);
                                        border: none;
            
                                        span {
                                            color: $titleFontColor;
                                            @include flexBetween;
                                            width: 100%;
                                            font-size: 11px;
                                        }
                                        
                                        span::before {
                                            content: "";
                                            display: inline-block;
                                            width: 25%;
                                            height: 3px;
                                            background-color: $lidiColor;
                                        }
            
                                        span::after {
                                            content: "";
                                            display: inline-block;
                                            width: 20%;
                                            height: 3px;
                                            background-color: $lidiColor;
                                        }
                                    }
                                }
                            }

                            p.title {
                                border: none;
                                @include fontB;
                                color: $titleFontColor;
                                text-overflow: ellipsis;
                                word-wrap: break-word;
                                word-break: break-all;
                                white-space: normal;
                                max-height: 34px;
                                overflow: hidden;
                                padding: 0;
                                margin-top: 5px;
                            }

                            div.stars {
                                @include flexInline;
                                font-size: 11px;
                                margin-top: 5px;

                                svg {
                                    width: 11px;
                                    height: 11px;

                                    path {
                                        color: $borderColor;
                                    }
                                } 
                            }
                        }
                    }

                    button.all {
                        position: absolute;
                        left: auto;
                        right: 0;
                        @include fontB;
                        @include squareline;
                        background: #fff;
                        letter-spacing: -0.1rem;
                        padding: 7px 10px;
                    }

                    button.all:hover {
                        background: rgba($color: $borderColor, $alpha: 0.5);
                        transition: all 0.3s;
                    }

                    button.all::after{
                        content: "\f054";
                        font: var(--fa-font-solid);
                        margin-left: 3px;
                    }
                }

                p {
                    font-size: 13px;
                    padding: 20px 0 10px 0;
                    @include underline;

                    span {
                        margin-right: 10px;
                    }

                    i {
                        display: inline-block;
                        width: 1px;
                        height: 13px;
                        background-color: $borderColor;
                        margin: 0 10px;
                    }

                    a {
                        @include fontB;
                        padding: 10px 0;
                    }

                    a.active {
                        color: $titleFontColor;
                        @include underline($titleFontColor);
                    }

                    a:hover {
                        color: $titleFontColor;
                    }
                }

                h4 {
                    padding: 20px 0;
                    a {
                        color: $titleFontColor;
                        @include fontB;
                        font-size: 20px;
                    }
                    a:hover {
                        color: $lidiColor;
                        transition: all 0.3s;
                    }
                }

                button.new {
                    @include squareline($lidiColor);
                    width: 170px;
                    height: 30px;
                    background: #fff;
                    @include flexInline;
                    justify-content: center;

                    span{
                        color: $lidiColor;
                        @include fontB;
                        @include flexInline;
                    }
                    span.one::before {
                        content: "\002B";
                        font-size: 22px;
                        position: relative;
                        top: -2px;
                    }
                    span.two::before {
                        content: "\00B7";
                        font-size: 20px;
                    }
                    
                }

                button.new:hover {
                    background: #f7fafc;
                    transition: all 0.3s;
                }

                ul {
                    font-size: 13px;
                    margin-top: 15px;
                    li {
                        padding: 2px 0;
                        color: $titleFontColor;

                        span:not(.prou) {
                            display: inline-block;
                            width: 30px;
                        }
                        span.prou {
                            margin-right: 4px;
                        }
                    }
                }

                p.edit {
                    text-align: end;
                    padding-bottom: 20px;

                    button.edit {
                        @include fontB;
                        @include squareline;
                        background: #fff;
                        letter-spacing: -0.1rem;
                        padding: 3px 10px;
                    }

                    button.edit:hover {
                        background: rgba($color: $borderColor, $alpha: 0.5);
                        transition: all 0.3s;
                    }

                    button.edit::before{
                        content: "\f304";
                        font: var(--fa-font-solid);
                        font-size: 10px;
                        margin-right: 5px;
                    }
                }
            }

            div.review {
                width: 100%;
                margin: 60px 0;

                div.top {
                    width: 100%;
                    @include flexBetween(flex-start);
                    margin: 30px 0;

                    div.buyer_stars {
                        width: 15%;
                        margin: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h6 {
                            @include fontB;
                        }

                        h1 {
                            @include fontB;
                            color: $titleFontColor;
                        }

                        div.stars {
                            width: 70%;
                            height: 20px;
                            background: url(../css/img/stars.svg) center center no-repeat;
                        }

                        ul {
                            width: 100%;
                            padding: 5px 0;
                            @include underline;

                            li {
                                width: 100%;
                                padding: 3px 0;
                                @include flexBetween;

                                span {
                                    width: 20%;
                                    @include flexInline;
                                    font-size: 12px;
                                    @include fontB;

                                    svg {
                                        width: 10px;
                                        height: 10px;
                                        margin-right: 3px;
                                    }
                                }

                                hr {
                                    width: 75%;
                                    height: 8px;
                                    background: $borderColor;
                                }
                            }
                        }

                        h5 {
                            padding: 5px 0;

                            span {
                                @include fontB;
                            }
                        }
                    }

                    div.write_review {
                        width: 85%;
                        text-align: center;
                        position: relative;

                        h2 {
                            @include fontB;
                            font-size: 18px;
                        }

                        div.pop {
                            position: absolute;
                            top: -3%;
                            left: 50%;
                            transform: translateX(-50%);
                            
                            span {
                                display: inline-block;
                                width: 110px;
                                height: 30px;
                                line-height: 30px;
                                background-color: $lidiColor;
                                border-radius: 6px;
                                color: #fff;
                                @include fontB;
                                font-size: 14px;
                            }
                            span::after {
                                position: absolute;
                                bottom: -5px;
                                right: 50%;
                                transform: translateX(50%) rotate(45deg);
                                content: "";
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                background-color: $lidiColor;
                            }

                        }

                        div.stars {
                            margin: 10px 0;
                            span {
                                display: inline-block;
                                width: 57px;
                                height: 45px;
                                background: url(../css/img/icon_star@2x.png) 50% top no-repeat;
                                background-size: 45px 90px;
                            }

                            i {
                                display: inline-block;
                                width: 1px;
                                height: 40px;
                                background: $borderColor;
                            }
                        }

                        form {
                            margin-bottom: 5px;

                            textarea {
                                font-size: 15px;
                                @include fontB;
                                padding: 15px;
                                width: 100%;
                                resize: vertical;
                                border: 2px solid $borderColor;
                                border-radius: 6px;
                                outline: none;
                            }

                            div {
                                @include flexBetween;
                                margin: 3px 0;

                                button.review_warning {
                                    @include squareline;
                                    background: #fff;
                                    @include fontB;
                                    padding: 5px 15px;
                                }

                                button.review_warning:hover {
                                    background-color: #f7fafc;
                                    transition: all 0.3s;
                                }

                                button.review_warning::before {
                                    content: "\f071";
                                    font: var(--fa-font-solid);
                                    margin-right: 3px;
                                }

                                div {
                                    div.spoiler {
                                        opacity: 0.6;
                                        
                                        input {
                                            width: 18px;
                                            height: 18px;
                                            @include squareline;
                                            background-color: transparent;
                                            cursor: pointer;
                                            margin-right: 6px;
                                        }

                                        label {
                                            color: #333;
                                            cursor: pointer;
                                            font-size: 14px;
                                            @include fontB;
                                        }
                                        
                                    }
                                    div.spoiler:hover {
                                        opacity: 1;
                                        transition: all 0.3s;
                                    }
                                    div.spoiler.click {
                                        opacity: 1;
                                    }

                                    button.review_enter {
                                        @include squareline(#0077d9);
                                        @include fontB;
                                        color: #fff;
                                        background: $lidiColor;
                                        font-size: 14px;
                                        padding: 5px 15px;
                                        opacity: 0.6;
                                        margin-left: 15px;
                                        cursor: auto;
                                    }
                                }
                            }
                        }

                        ul.warning {
                            background: #f6f6f6;
                            border-radius: 3px;
                            padding: 25px;
                            text-align: start;

                        li {
                            font-size: 13px;

                            p{
                                color: $titleFontColor;
                                @include fontB;
                            }

                            ol {
                                padding: 15px 10px;

                                li {
                                    padding: 1px 0;
                                }
                                li:not(:last-child) {
                                    list-style: roman;
                                }
                                li:last-child {
                                    margin-left: -13px;
                                }
                                
                            }
                        }
                        }
                    }
                }

                div.middle {
                    h5 {
                        @include flexBetween;
                        padding: 10px 0;
                        border-bottom: 2px solid rgba($fontColor, 0.5);

                        p.catego {
                            
                            a {
                                font-size: 15px;
                                @include fontB;
                                padding: 10px 0;
                                margin-right: 15px;
                            }

                            a:hover {
                                color: rgba($titleFontColor, 0.8);
                                border-bottom: 2px solid rgba($color: $titleFontColor, $alpha: 0.8);
                                transition: all 0.3s;
                            }

                            a.select {
                                color: $titleFontColor;
                                border-bottom: 2px solid $titleFontColor;
                            }
                        }

                        p.soon {

                            a {
                                @include fontB;
                            }

                            a:hover {
                                color: rgba($titleFontColor, 0.8);
                                transition: all 0.3s;
                            }

                            a.select {
                                color: $titleFontColor;
                            }
                                
                            i {
                                display: inline-block;
                                width: 1px;
                                height: 11px;
                                background-color: $borderColor;
                                margin: 0 10px;
                            }
                        }
                    }

                    p.view {
                        width: 100%;
                        height: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        line-height: 25px;
                        @include fontB;
                        @include underline;
                    }
                }

                div.bottom {

                    h6 {
                        font-size: 13px;
                        padding: 15px 0;
                        cursor: pointer;
                    }

                    h6:hover {
                        color: $titleFontColor;
                        transition: all 0.3s;
                    }

                    h6::after{
                        content: "\f103";
                        font: var(--fa-font-solid);
                        font-size: 10px;
                        padding-left: 5px;
                    }

                    h6.click::after{
                        content: "\f102";
                        font: var(--fa-font-solid);
                        font-size: 10px;
                        padding-left: 5px;
                    }

                    ul {
                        background: #f6f6f6;
                        border-radius: 3px;
                        padding: 25px 30px;

                        li {
                            padding: 5px 0;
                            font-size: 13px;

                            p.first{
                                color: $titleFontColor;
                            }

                            p {
                                @include fontB;
                            }
                        }
                    }
                }
            }

            div.buy_together {
                width: 100%;
                margin: 60px 0;

                ul {
                    width: 100%;
                    padding-top: 40px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;

                    li {
                        width: 13%;

                        div.img {
                            width: 100%;
                            height: auto;
                            border: 1px solid $borderColor;
                            position: relative;
                            cursor: pointer;
        
                            img {
                                width: 100%;
                                height: auto;
                            }
        
                            div.shadow {
                                
                                &1 {
                                    width: 5%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-image: linear-gradient(to right, rgba($fontColor, 0.5), rgba($fontColor, 0));
                                }
                                &2 {
                                    width: 5%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0));
                                }
                            }
        
                            div.set {
                                position: absolute;
                                left: -1%;
                                bottom: 20%;
                                width: 102%;
                                height: auto;
                                margin: 0;
                                background-color: #fff;
                                border: 1px solid $borderColor;
                                background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0) 5%, rgba($fontColor, 0) 95%, rgba($fontColor, 0.5));
        
                                p {
                                    padding: 5px 0;
                                    text-align: center;
                                    box-shadow: 1px 3px 3px rgba($color: #787878, $alpha: 0.5);
                                    border: none;
        
                                    span {
                                        color: $titleFontColor;
                                        @include flexBetween;
                                        width: 100%;
                                        font-size: 11px;
                                    }
                                    
                                    span::before {
                                        content: "";
                                        display: inline-block;
                                        width: 25%;
                                        height: 3px;
                                        background-color: $lidiColor;
                                    }
        
                                    span::after {
                                        content: "";
                                        display: inline-block;
                                        width: 20%;
                                        height: 3px;
                                        background-color: $lidiColor;
                                    }
                                }
                            }
                        }

                        p.title {
                            @include fontB;
                            font-size: 12px;
                            color: $titleFontColor;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            word-break: break-all;
                            max-height: 34px;
                            overflow: hidden;
                            margin-top: 5px;
                        }

                        p.author {
                            font-size: 11px;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            word-break: break-all;
                            max-height: 34px;
                            overflow: hidden;
                            margin-top: 5px;
                        }
                    }
                }
            }

            div.read_together {
                width: 100%;
                margin: 60px 0;

                ul {
                    width: 100%;
                    padding-top: 40px;
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;

                    li {
                        width: 13%;

                        div.img {
                            width: 100%;
                            height: auto;
                            border: 1px solid $borderColor;
                            position: relative;
                            cursor: pointer;
        
                            img {
                                width: 100%;
                                height: auto;
                            }
        
                            div.shadow {
                                
                                &1 {
                                    width: 5%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-image: linear-gradient(to right, rgba($fontColor, 0.5), rgba($fontColor, 0));
                                }
                                &2 {
                                    width: 5%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background-image: linear-gradient(to left, rgba($fontColor, 0.5), rgba($fontColor, 0));
                                }
                            }
                        }

                        p.title {
                            @include fontB;
                            font-size: 12px;
                            color: $titleFontColor;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            word-break: break-all;
                            max-height: 34px;
                            overflow: hidden;
                            margin-top: 5px;
                        }

                        p.author {
                            font-size: 11px;
                            text-overflow: ellipsis;
                            word-wrap: break-word;
                            word-break: break-all;
                            max-height: 34px;
                            overflow: hidden;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    div#add {
        width: 207px;
        
        div.add_img {
            a {
                display: inline-block;
                width: 100%;
                height: 207px;
                background: url(../css/img/sub_add.jpg) center no-repeat;
                background-size: contain;
                @include underline;
            }
        }

        div.add_list {
            width: 100%;
            padding: 20px 15px;
            h5 {
                @include fontB;
                color: $titleFontColor;
                line-height: 30px;
            }

            ul.add_list_title {
                font-size: 13px;
                line-height: 30px;
                
                li {
                    width: 100%;
                    @include overline;
                    position: relative;
                    @include flexInline;

                    span {
                        color: $pointColor;
                        @include fontB;
                        display: inline-block;
                        width: 20%;
                    }

                    a {
                        display: inline-block;
                        width: 80%;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                        overflow: hidden;
                    }

                    a:hover {
                        color: $lidiColor;
                        transition: all 0.3s;
                    }
                }
            }

            button {
                width: 100%;
                outline: none;
                border: none;
                @include overline;
                @include underline;
                font-size: 12px;
                line-height: 20px;
                position: relative;

                span::after {
                    content: "\2023";
                    font-size: 22px;
                    position: absolute;
                    top: -10%;
                }
            }

            button:hover {
                background: $borderColor;
                transition: all 0.3s;
            }
        }
    }
}

